<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Error</li>
    </ol>
  </nav>
  <h1 class="text-danger text-center">Login Error</h3>
    <p class="text-warning text-center">Name or Code </p>
    <a href="/login">
      <img src="/image/bad-login-error.png" class="img-responsive center-block" />
    </a>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>