<nav>
<h1>login</h1>
</nav>
<section>
  <form method="post" action="/login">
  <input type="text" id="user" name="user" />
  <input type="password" id="pass" name="pass" />
  <button type="submit">登录</button>
  </form>
</section>

<section>
  <h2><a href="/">主页</a></h2>
</section>
