<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
        </ol>
    </nav>
    <div class="jumbotron">
        <h1>孵化器灯控</h1>
        <p class="lead">Light Control Interface</p>
        <p>
            <a class="btn btn-info" href="/login">登录</a>
        </p>
    </div>
</div>